{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'table.css' %}">
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div>
<table>
  <thead>
    <tr>
      <th colspan="3">Users</th>
    </tr>
    <tr>
      <th>id</th>
      <th colspan="2">Email</th>
    </tr>
  </thead>
  <tbody>
  {% for user in users %}
        <tr><td>{{ user.id }}</td>
            <td>{{ user.email }}</td>
        <td>
            <button type="button" value = "1" class="read-user">Edit </button>
{#        <i class="read-user button edit" data-id="{% url 'read_user' user.id %}">edit</i>#}
            <button type="button" value = "1" class="read-user">Delete </button>
      </td>
        </tr>
{% endfor %}
  </tbody>
</table>
    <script>
    $(".read-user").click(function() {
        console.log("hello")
        alert("hello");
      //  $(this).modalForm({formURL: $(this).data('id')});    // Find the row
    //var $text = $row.find(".nr").text(); // Find the text

    // Let's test it out

});
</script>
    </div>
</body>
</html>


{% endblock %}